*{
    margin: 0;
    padding: 0;
    color: white;
}

html,body{
    background-color: #14B0E9;
    height: 100%;
    width: 100%;
}

.navbar{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: 2px solid white;
    font-size: 1.5rem;
}

.middle{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 1.2rem;
}

button{
    padding:14px;
    background-color: #DCA038;
    margin-right: 5px;
    border: none;
}

.main{
    display: flex;
    height: calc(100vh - 91px);
    overflow-y: hidden;
    /* padding-top: 200px; */
}

.left{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left i{
    color: white;
    margin-top: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.left i:hover{
    color: #DCA038;
}

.left h2{
    transform: rotate(270deg);
    margin-top: 90px;
}

.right{
    padding-top: 15%;
    height: 100%;
    width: 47%;
    padding-right: 100px;
}

.right h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.right p{
    padding-right: 80px;
    margin-bottom: 30px;
}

.image{
    height: 100%;
    width: 38%;
}